RewriteEngine On
RewriteRule ^add-accomodation$ /app/views/addaccomodation.php
RewriteRule ^add-destination$ /app/views/adddestination.php
RewriteRule ^change-information$ /app/views/changeinformation.php
RewriteRule ^create-travel-plan$ /app/views/createtravelplan.php
RewriteRule ^dashboard$ /app/views/dashboard.php
RewriteRule ^edit-accomodation$ /app/views/editaccomodation.php
RewriteRule ^edit-destination$ /app/views/editdestination.php
RewriteRule ^info-place-l$ /app/views/infoplace(login).php
RewriteRule ^info-place-nl$ /app/views/infoplace(notlogin).php
RewriteRule ^konfirmasi-pesanan$ /app/views/konfirmasipesanan.php
RewriteRule ^konfirmasi-travel-plan$ /app/views/konfirmasitravelplan.php
RewriteRule ^$ /app/views/dashboard.php
RewriteRule ^list-akomodasi$ /app/views/listakomodasi.php
RewriteRule ^list-tempat-wisata$ /app/views/listtempatwisata.php
RewriteRule ^login$ /app/views/login.php
RewriteRule ^pilih-akomodasi$ /app/views/piliheditakomodasi.php
RewriteRule ^pilih-wisata$ /app/views/piliheditwisata.php
RewriteRule ^profile$ /app/views/profileinformation.php
RewriteRule ^reservation$ /app/views/reservationmenu.php
RewriteRule ^select-travel-plan$ /app/views/selecttravelplan.php
RewriteRule ^signup$ /app/views/signup.php

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^api/login$ src/loginServerSide.php
RewriteRule ^api/logout$ src/logoutServerSide.php
RewriteRule ^api/signup$ src/signupServerSide.php

RewriteCond %{REQUEST_METHOD} ^GET$

RewriteCond %{REQUEST_METHOD} ^PUT$

RewriteCond %{REQUEST_METHOD} ^DELETE$