RewriteEngine On
RewriteRule ^add-accomodation$ /app/views/addaccomodation.php
RewriteRule ^add-destination$ /app/views/adddestination.php
RewriteRule ^change-information$ /app/views/changeinformation.php
RewriteRule ^create-travel-plan$ /app/views/createtravelplan.php
RewriteRule ^dashboard$ /app/views/dashboard.php
RewriteRule ^edit-place-info$ /app/views/editplaceinfo.php
RewriteRule ^history-done$ /app/views/historytravelplan(done).php
RewriteRule ^history-ongoing$ /app/views/historytravelplan(ongoing).php
RewriteRule ^info-place$ /app/views/infoplace.php
RewriteRule ^konfirmasi-pesanan$ /app/views/konfirmasipesanan.php
RewriteRule ^konfirmasi-travel-plan$ /app/views/konfirmasitravelplan.php
RewriteRule ^$ /app/views/dashboard.php
RewriteRule ^list-akomodasi$ /app/views/listakomodasi.php
RewriteRule ^list-tempat-wisata$ /app/views/listtempatwisata.php
RewriteRule ^login$ /app/views/login.php
RewriteRule ^edit-place$ /app/views/piliheditwisata.php
RewriteRule ^profile$ /app/views/profileinformation.php
RewriteRule ^reservation$ /app/views/reservationmenu.php
RewriteRule ^select-travel-plan$ /app/views/selecttravelplan.php
RewriteRule ^signup$ /app/views/signup.php

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^api/login$ src/loginServerSide.php
RewriteRule ^api/logout$ src/logoutServerSide.php
RewriteRule ^api/signup$ src/signupServerSide.php
RewriteRule ^api/filterPlaces$ src/filterPlaceServerSide.php
RewriteRule ^api/get-places-location$ src/getLocationServerside.php
RewriteRule ^api/get-places-category$ src/getCategoryServerside.php
RewriteRule ^api/get-place-info$ src/getPlaceInfo.php
RewriteRule ^api/add-destination$ src/addDestinationController.php
RewriteRule ^api/profile/img$ src/profileImgController.php

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^api/profile$ src/profileController.php
RewriteRule ^api/profile/img$ src/profileImgController.php

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^api/login$ src/profileController.php
RewriteRule ^api/profile/img$ src/profileImgController.php

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^api/profile/img$ src/profileImgController.php