body{
    background-image: url(../package/purplebg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar{
    position: relative;
    z-index: 100000;
  }
  
  .navbar ul {
    width: auto;
    list-style-type: none;
    margin-left: -8px;
    margin-top: -8px;
    overflow: hidden;
    background-color: rgb(99, 0, 108);
  }
  
  .navbar ul li ul.profiledropdown li{
    display: block;
  }
  
  .navbar ul li ul.profiledropdown{
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar ul li ul.profiledropdownadmin li{
  display: block;
  }
  
  .navbar ul li ul.profiledropdownadmin{
  width: 220px;
  position: absolute;
  z-index: 999;
  display: none;
  }
  
  .navbar ul li ul.menudropdown li{
    display: block;
  }
  
  .navbar ul li ul.menudropdown{
    width: 200px;
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar li {
    font-family: 'Montserrat', sans-serif;
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
  }
  
  .navbar li img {
    width: 95px;
    height: 40px;
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    left: 0;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  
  .navbar li:hover ul.menudropdown{
    display: block;
  }
  
  .navbar li:hover ul.profiledropdown{
    display: block;
    margin-top: -1px;
    margin-left: -140px;
  }
  
  .navbar li:hover ul.profiledropdownadmin{
  display: block;
  margin-top: -1px;
  margin-left: -161px;
  }
  
  .navbar li:hover ul.menudropdown{
    display: block;
    margin-top: -1px;
    margin-left: -140px;
  }
.adddestination {
    width: 64%;
    height: 75%;
    background-color: rgb(227, 178, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
}

.adddestination h1{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 65px;
}

.deletebutton #delete{
    width: 145px;
    padding: 8px 12px 8px 12px;
    border: 2px solid #3498db;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    outline: none;
    background-color: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-left: 792px;
    margin-top: -110px;
    text-decoration: none;
}

.deletebutton #delete a{
    text-decoration: none;
    color: white;
}

.deletebutton #delete:hover{
    background-color: rgb(148, 0, 0);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.uploadinfo h2{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 45px;
}

.uploadinfo #upload{
    display: none;
}

.uploadinfo #uploadbutton{
    width: 145px;
    padding: 12px 30px 12px 30px;
    border: 2px solid #3498db;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    outline: none;
    background-color: #6D4CF0;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 45px;
    text-decoration: none;
}

.uploadinfo #uploadbutton:hover{
    background-color: rgb(255, 255, 255);
    color: #6D4CF0;
    transition: 0.5s;
}

.placeinfo1 h2{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 45px;
}

.placeinfo1 #placename{
    margin-left: 45px;
    margin-bottom: -15px;
    width: 265px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.placeinfo1 #location{
    margin-left: 45px;
    margin-bottom: 8px;
    width: 265px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.verticalline{
    border-left: 2px solid rgb(0, 0, 0);
    height: 400px;
    margin: 0 20px;
    position: absolute;
    left: 37%;
    top: 22%;
}

.placeinfo2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -380px;
    margin-left: 405px;
}

.placeinfo2 h2{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.placeinfo2 #price{
    margin-top: 12px;
    margin-left: 15px;
    width: 125px;
    height: 20px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.placeinfo2 #contact{
    margin-top: 12px;
    margin-left: 15px;
    width: 127px;
    height: 20px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.placeinfo2 #openhour{
    margin-top: 12px;
    margin-left: 15px;
    width: 87px;
    height: 20px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.placeinfo2 #closehour{
    margin-top: 12px;
    margin-left: 15px;
    width: 87px;
    height: 20px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.placeinfo2 #description{
    margin-top: 25px;
    margin-left: 30px;
    width: 480px;
    height: 90px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#submit{
    width: 130px;
    padding: 12px 18px 12px 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    outline: none;
    background-color: rgb(138, 0, 219);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 623px;
    top: 81%;
    text-decoration: none;
}

#submit a{
    text-decoration: none;
    color: white;
}

#submit:hover{
    background-color: rgb(99, 0, 108);
    color: white;
    cursor: pointer;
}
