body{
    background-color: rgb(249, 218, 255)
}

.navbar{
    position: relative;
    z-index: 100000;
  }
  
  .navbar ul {
    width: auto;
    list-style-type: none;
    margin-left: -8px;
    margin-top: -8px;
    overflow: hidden;
    background-color: rgb(99, 0, 108);
  }
  
  .navbar ul li ul.profiledropdown li{
    display: block;
  }
  
  .navbar ul li ul.profiledropdown{
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar ul li ul.profiledropdownadmin li{
    display: block;
  }
  
  .navbar ul li ul.profiledropdownadmin{
    width: 185px;
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar ul li ul.menudropdown li{
    display: block;
  }
  
  .navbar ul li ul.menudropdown{
    width: 200px;
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar ul li ul.historydropdown li{
    display: block;
  }
  
  .navbar ul li ul.historydropdown{
    width: 200px;
    position: absolute;
    z-index: 999;
    display: none;
  }
  
  .navbar li {
    font-family: 'Montserrat', sans-serif;
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
  }
  
  .navbar li img {
    width: 110px;
    height: 40px;
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    left: 0;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  
  .navbar li:hover ul.menudropdown{
    display: block;
  }
  
  .navbar li:hover ul.profiledropdown{
    display: block;
    margin-top: -1px;
    margin-left: -140px;
  }
  
  .navbar li:hover ul.profiledropdownadmin{
    display: block;
    margin-top: -1px;
    position: absolute;
    right: 0;
  }
  
  .navbar li:hover ul.menudropdown{
    display: block;
    margin-top: -1px;
    margin-left: -140px;
  }
  
  .navbar li:hover ul.historydropdown{
    display: block;
    margin-top: -1px;
    margin-left: -130px;
  }

.listdestination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
}

.searchandsorted{
    margin-left: 60px;
    margin-top: 40px;
}

.searchandsorted h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.search{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

.search #search{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(99, 0, 108);
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.search label{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.sortfill{
    display: flex;
    flex-direction: row;
    width: 1200px;
}

.sorted #sorted{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 190px;
    height: 40px;
    padding: 3px 10px;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.filter1{
    margin-left: 50px;
}

.filter-type label{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 178px;
}

.filter2{
    margin-left: 50px;
}

.filter-place label{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 178px;
}

#buttonfilter{
    width: 150px;
    height: 40px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 298px;
    margin-left: 720px;
}

#buttonfilter a{
    text-decoration: none;
    color: black;
}

#buttonfilter:hover{
    background-color: rgb(99, 99, 99);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-select {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 190px;
    height: 40px;
    padding: 3px 10px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-select label {
    display: block;
    padding: 5px;
}

.destinationbox{
    margin: 20px;
}

.destinationbox img{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.destinationbox h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 5px;
}

.destinationbox h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: -15px;
}

.destinationbox a{
    text-decoration: none;
    color: black;
}

.buttonkonfirmasi #buttonkonfirmasi{
    width: 220px;
    padding: 12px 18px 12px 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    outline: none;
    background-color: rgb(138, 0, 219);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 110px;
    margin-left: 1240px;
}

.buttonkonfirmasi #buttonkonfirmasi a{
    text-decoration: none;
    color: white;
}

.buttonkonfirmasi #buttonkonfirmasi:hover{
    background-color: rgb(99, 0, 108);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.pagination-page{
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pagination-page a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #3498db;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 4px 12px 4px 12px;
    margin: 2px;
}

.pagination-page a.active{
    background-color: #000000;
}

.pagination-page a:not(.active){
    background-color: purple;
}

.pagination-page a:hover:not(.active){
    background-color: rgb(99, 0, 108);
    color: white;
    cursor: pointer;
    text-decoration: none;
}