body{
    background-image: url(../package/purplebg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.signup {
    width: 45%;
    height: 65%;
    background-color: rgb(227, 178, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -43%);
}

.signup h1{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

.signupinfo h2{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 30px;
}

.signupinfo #username{
    margin-left: 30px;
    width: 200px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.signupinfo #password{
    margin-left: 30px;
    margin-bottom: 8px;
    width: 200px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.verticalline{
    border-left: 2px solid rgb(0, 0, 0);
    height: 350px;
    margin: 0 20px;
    position: absolute;
    left: 40%;
    top: 22%;
}

.nameinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 270px;
    margin-top: -260px;
    font-family: 'Poppins', sans-serif;
}

.nameinfo h2{
    font-size: 20px;
    margin-left: 60px;
}

.nameinfo #firstname{
    width: 110px;
    margin-left: 60px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.nameinfo #lastname{
    width: 110px;
    margin-left: 40px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.emailphone{
    margin-left: 330px;
    font-family: 'Poppins', sans-serif;
}

.emailphone h2{
    font-size: 20px;
}

.emailphone span{
    color: red;
}

.emailphone #email{
    width: 220px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.emailphone #phonenumber{
    width: 115px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.signup button{
    width: 130px;
    padding: 12px 18px 12px 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    outline: none;
    background-color: rgb(138, 0, 219);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 530px;
    top: 82%;
    text-decoration: none;
}

.signup button a{
    text-decoration: none;
    color: white;
}

.signup button:hover{
    background-color: rgb(99, 0, 108);
    color: white;
    cursor: pointer;
}